<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manara Platform Contact Us Page</title>
    <link rel="stylesheet" href="/contactUs-styles.css">

</head>
<body>

    <!-- Navigation Section -->
    <div class="navbar">
        <header>
            <div class="logo">
                <a href="/"><img src="/images/logo/logo.png" alt="Website Logo"></a>
                <h1 class="site-name">Manara Platform</h1>
            </div>
            <button class="hamburger" onclick="toggleMenu()">☰</button>
            <nav>
                <ul class="options" id="navMenu">
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/colleges}">Colleges</a></li>
                    <li><a th:href="@{/universities}">Universities</a></li>
                    <li><a th:href="@{/advisors}">Advisors</a></li>
                    <li id="lastitems"><a th:href="@{/advisors/advisorForm}">Become Advisor</a></li>
                    <li id="lastitems"><a th:href="@{/colleges/collegeForm}">Suggest College</a></li>
                    <li id="lastitems"><a th:href="@{/contactPage/contactUs}">Contact Us</a></li>
                </ul>
            </nav>
        </header>
    </div>
    
    <!-- Form Content Section-->
    <div class="container">
        <h2>Contact Us Form</h2>
        <form action="/contactPage/contactUs" method="post">
            <label>Name:</label>
            <input type="text" name="name" required placeholder="Enter your name">

            <label>Email:</label>
            <input type="text" name="email" required placeholder="Enter your email">
    
            <label>Title:</label>
            <input type="text" name="title" required placeholder="Enter a message title">

            <label>Message:</label>
            <textarea id="content" name="content" required placeholder="Enter your message"></textarea><br>

            <button type="submit">Send</button>
        </form>
            
    </div>

    <!-- Footer Section--> 
    <div class="footer">
        <footer>
            <p>&copy; 2025 Manara Platform. All Rights Reserved.</p>
        </footer>
    </div> 

<script>
    function toggleMenu() {
        document.getElementById("navMenu").classList.toggle("show");
    }
</script>
</body>
</html>